@mixin dashboard-schedule-view {

    .schedule {
        // background: $v-panel-background-color;

        .viewheader {
            padding: round($view-padding / 2);
            width: 100%;
            background-color: #f6f8fa ;
            border-bottom: valo-border($strength: 0.5);
            text-align: left;
            white-space: normal;
        }

        /*        .toolbarFile {
                    //padding: $view-padding/2;
                    //width: 100%;
                    //background-color: #f6f8fa ;
                    //border-bottom: 1px solid #e9ebed;
                }*/

        .toolbar {
            padding: $view-padding / 2;
        }

        .viewbar {
            padding-left: $view-padding / 2;
            padding-right: $view-padding / 2;
        }



        .catalog {
            padding-bottom: $view-padding / 2;
            padding-left: $view-padding / 2;
            padding-right: $view-padding / 2;
            //overflow: visible;

            .mainPanel{
                padding: round($view-padding / 4.5);

                .frame {
                    cursor: pointer;
                    padding: round($view-padding / 3.5);

                    &:hover {
                        border-color: $v-focus-color;
                        background-color: #f5f5f5;
                    }

                    .labelInfo {
                        font-size: $v-font-size--small;
                        line-height: 1.2;
                    }

                }
            }

            &[width-range~="0-700px"] {
                .mainPanel {
                    width: 100% !important;
                }
            }

            &[width-range~="701px-"] {
                .mainPanel {
                    width: 20% !important;
                }
            }

        }
    }

    .attachedlayout {
        cursor: pointer;
        position: relative;
        padding-right: 20px;

        &:hover {
            outline: 1px solid #5198df;
        }
    }

    .deleteBtn {
        width: 16px;
        height: 19px;
        //border-radius: 10px;
        //background: #73767a;
        //color: #fff;
        color: #197de1;
        /*font: inherit;*/
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        /*text-shadow: 0 1px 0 rgba(0,0,0,.25);*/
        text-align: center;
        cursor: default;
        //@include box-shadow(0 2px 4px rgba(0,0,0,.5));
    }

    .deleteBtn:hover {
        //background: #4e5153;
        background: #e3f2fd;
    }

    .deleteBtn:focus {
        outline: none;
    }

    .deleteBtn:active {
        //background: #3c3f40;
        background: #ffffff;
    }

    .attachedlayout .deleteBtn {
        position: absolute;
        display: none;
    }

    .attachedlayout:hover .deleteBtn {
        display: block;
    }

    .attachedfiles {
        padding: round($view-padding / 5);
    }

    .address-editor {
        cursor: text;
        .v-textfield {
            border: 0px solid white;
            &:focus {
                @include box-shadow(none);
            }
        }
        /*        .v-button:focus:after {
                    border-color: inherit;
                    @include box-shadow(none);
                }
                .v-button-small {
                    margin-top: 2px;
                }*/

    }

    .v-widget.mytoken.tokenfield {
        .v-button-link {
            //background-color: #e0f7fa ;
            background-color: white;
            //border-radius: 2px;
            //height: 37px;
            //padding: 4px 7px;
            text-decoration: none;
            &:focus {
                //background-color: #e0f7fa ;
                background-color: white;
                //border-radius: 2px;
                //height: 23px;
                //padding: 4px 7px;
                text-decoration: none;
            }
        }
        .v-button-emphasize {
            background-color: #ec0c6d;
            &:focus {
                background-color: #ec0c6d;
            }
        }
        .v-button-link .v-button-caption {
            //color: #8c8c8c;
            color: #197de1;
            text-decoration: none;
        }
    }

    .tokentextfield .v-filterselect {
        background: #ddd none repeat scroll 0 0;
        border-radius: 4px;
        margin-bottom: 1px;
        .v-filterselect-input {
            background: white none repeat scroll 0 0;
            border: 1px solid white;
            box-shadow: 0 1px 0 white inset, 0 1px 0 rgba(255, 255, 255, 0.1);
            &:focus {
                //border-color: #197de1;
                box-shadow: none;
            }
        }
        .v-filterselect-button {
            display: none;
        }
    }

    .v-widget.mytoken.tokenfield .v-csslayout {
        div {
            float: left;
        }
        .v-button-link {
            margin: 0 1px 1px 0;
            height: 37px;
        }
    }

}
